.main {
    width: 80%;
    margin: 85px auto 0px auto;
    padding: 30px 0px;
}

@media screen and (max-width: 768px) {
    .main {
        width: 80%;
        margin: auto;
        margin-top: 65px;
    }

    header {
        padding: 0px 15px;
    }

    header nav a.homeC {
        height: 65px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        width: 100%;
        padding: 0;
    }

    .main .contenedor {
        border-radius: 0px;
    }

    header .wrapper nav {
        transition: all 0.3s ease;
        position: fixed;
        display: flex;
        justify-content: space-around;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #292929;
        width: 70%;
        margin: 15px auto;
        border-radius: 35px;
        box-shadow: 0px 0px 5px 0px black;
    }

    header .wrapper nav a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        height: 50px;
        margin: 0px;
        padding: 0px;
    }

    header {
        height: 65px;
        display: flex;
    }

    footer {
        display: none;
    }

    .light header .wrapper nav {
        background-color: white;
    }
}

.contenedor {
    transition: 0.3s;
    border-radius: 7px;
    padding: 25px;
    background-color: #292929;
    box-shadow: 0px 0px 3.5px 0px black;
}

.contenido {
    margin-top: 25px;
}

.changes {
    margin: 5px 5px 0px 5px;
}

.changes p {
    margin-top: 10px;
}

.main p {
    transition: 0.6s;
    color: white;
    line-height: 1.6rem;
}

.subtitulo p {
    font-size: 1.3rem;
    font-weight: 500;
}

.titulo p {
    transition: 0.6s;
    font-size: 1.4rem;
    padding-bottom: 20px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(65, 65, 65);
}



/*Version Light*/

.light .main p {
    transition-property: color;
    transition-duration: 0.6s;
    color: black;
}

.light .main .contenedor {
    background: rgb(243, 243, 243);
    box-shadow: 0px 0px 1.5px 0px rgb(44, 44, 44);
}

.light {
    transition: 0.6s;
    background: rgb(243, 243, 243);
}

.light .titulo p {
    transition-property: border;
    transition-duration: 0.6s;
    border-bottom: 1px solid rgba(136, 136, 136, 0.527);
}
